<!DOCTYPE html>
<html>
  <head>
    <title>RubyConf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <p class="footertext">RubyConf</p>
    <p class="footertext"><a href="#" class="imgfoot"><%= image_tag("twitter-logo.png") %></a>
    <a href="#" class="imgfoot"><%= image_tag("facebook-logo-button.png") %></a>
    <a href="#" class="imgfoot"><%= image_tag("slack_symbol.png") %></a></p>

  </footer>
</html>
